# Lots of junk goes in here.
/caches/
/backups/

.DS_STORE

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit nvim plug.vim and the colors since we will load them in the init script
/link/.config/nvim/autoload
/link/.config/nvim/colors

# Ignore certain npm config files
update-notifier-npm.json

# Do not commit (n)vim plugged files.
/link/.vim/plugged/
/link/.nvim/plugged/

/link/.config/Slack
/link/.config/GIMP
/link/.config/google-chrome
/link/.config/gnome*
/link/.config/monitors*
/link/.config/gtk*
/link/.config/pulse
/link/.config/user-dirs*
/link/.config/totem
/link/.config/dconf
/link/.config/pritunl
/link/.config/ibus
/link/.config/autostart
/link/.config/update-notifier
/link/.config/libreoffice

# Ignore the tmux plugins since tmp will install them
/link/.tmux/plugins

# Ignore local tmux resurrect files
tmux_resurrect*

# Ignore changes to 000_setthisenv.sh. For now this is used to set an environmental variable which is used in scripts.
# We don't want this being changed after it was set.
/source/000_setthisenv.sh

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
# link/.config/.mono/

# Ignore test files inside the notrack directory
test/untracked/*
link/.tmux/resurrect
