[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "rbenv"]
	path = vendor/rbenv
	url = https://github.com/rbenv/rbenv
[submodule "ruby-build"]
	path = link/.rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build
