[submodule "git-extras"]
	path = vendor/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule "vendor/vendor/rbenv"]
	path = vendor/vendor/rbenv
	url = https://github.com/rbenv/rbenv
